body {font-size:100%;}

h1{
	font-size:2em;
	font-family: Arial;
	text-align: center;
	color:white;
}

h2{
	font-size:0.75em;
	font-family: Arial;
	text-align: left;
	color:white;
}
select{
	align-content: left;
	font-family: Arial;
	width: 50%;
}
.editbox{
	align-content: left;
	font-family: Arial;
	width:70%;
}
.btn{
	align-self: left; 
	width:30%;
	height: 17%
	font: Arial;
}
.button1{
	align-self: left; 
	width:70%;
	height: 17%
	font: Arial;
}
.file{
	color-profile: white;
}
